@model IEnumerable<ExamPortal.DTOS.PaperDTO>

@{ ViewData["Title"] = "MyPapers"; }
@section Styles{
    <style>
        .show {
            transition: opacity 50ms;
        }
    </style>
}
@await Component.InvokeAsync("CurrPath", new
{
    header = "My Papers",
    paths = new List<EPath>() { EPath.DashBoard, EPath.PaperList }
})
<form asp-action="@nameof(TeacherController.DeletePaper)" id="DeletePaper" style="display:none">
    <input type="hidden" name="paperCode" id="paperCode" />
</form>
<div class="dropdown  my-3">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span><i class="fas fa-plus"></i></span>&nbsp; Create New
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" asp-action="@nameof(TeacherController.MakePaper)">Create MCQ Paper</a>
        <a class="dropdown-item" asp-action="@nameof(TeacherController.MakeDescriptivePaper)">Create Descriptive Paper</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                PaperCode
            </th>
            <th>
                CreatedDate
            </th>
            <th>
                DeadLine
            </th>
            <th>
                PaperTitle
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{var idx = 0;}
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.PaperCode
                </td>

                <td>
                    @item.CreatedDate
                </td>
                <td>
                    @item.DeadLine
                </td>
                <td>
                    @item.PaperTitle
                </td>
                <td>
                    <a asp-action="@nameof(TeacherController.PaperDetails)" class="badge badge-info" asp-route-papercode="@item.PaperCode">Details</a>
                    | <a asp-action="@nameof(TeacherController.Responses)" class="badge badge-primary" asp-route-papercode="@item.PaperCode">Response</a>
                    | <a href="#" data-toggle="modal" data-dest="#deletetxt_@idx" class="badge badge-danger deleteLink" data-target="#Confirm_@idx" data-backdrop="static" data-keyboard="false">Delete</a>

                    <div class="modal fade" id="Confirm_@idx" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header alert alert-danger">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Delete @item.PaperTitle</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Do you want to delete this paper ? after deleted it won't be retrived and all answers associated with it will be gone
                                    </p>
                                    <hr />
                                    <div class="form-group">
                                        <label>Papercode : </label>
                                        <input type="text" class="form-control removeTxt" id="deletetxt_@idx" data-dest="#deletebtn_@idx" placeholder="plese enter paper code here to delete it" />
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-danger removeBtn" id="deletebtn_@idx" value="@item.PaperCode">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            idx++;
         }
    </tbody>
</table>
@if (ViewBag.total > 1)
{
    <ul class="pagination" style="margin-left:400px">
        @for (int i = 1; i <= ViewBag.total; i++)
        {
            @if (i == ViewBag.currentpage)
            {
                <li class="page-item active" style="cursor:pointer"><a class="page-link">@i</a></li> 
             }
            else
            {
                <li class="page-item" style="cursor:pointer"><a class="page-link paginationlist" data-value="@i">@i</a></li>
            }
         }
    </ul>
 }
<form asp-action="@nameof(TeacherController.Index)" asp-controller="Teacher" id="paginationform" method="get">
    <input type="hidden" name="pages" id="paginationhidden" />
</form>


@section Scripts{
    <script>
    $(document).ready(function () {
            $('.paginationlist').on('click', (event) => {
                $('#paginationhidden').val($(event.target).data("value"));
                $('#paginationform').submit();
            });
            $(".deleteLink").click(function () {
                let txtbox = $($(this).data("dest"));
                txtbox.val("");
                $(txtbox.data("dest")).prop("disabled", true);
            });
            $(".removeTxt").keyup(function () {
                let btn = $($(this).data("dest"));
                if ($(this).val() == btn.val())
                    btn.prop("disabled", false);
                else
                    btn.prop("disabled", true);
            });
            $(".removeBtn").click(function () {
                let code = $(this).val();
                $("#paperCode").val(code);
                $("#DeletePaper").submit();
            });
        });</script>

}