@model IEnumerable<ExamPortal.DTOS.MCQPaperDTO>

@{
    ViewData["Title"] = "MyPapers";
}

<h1>MyPapers</h1>

<p>
    <a asp-action="MakePaper">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                PaperCode
            </th>
            <th>
                TeacherEmailId
            </th>
            <th>
                CreatedDate
            </th>
            <th>
                DeadLine
            </th>
            <th>
                PaperTitle
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.PaperCode
                </td>
                <td>
                    @item.TeacherEmailId
                </td>
                <td>
                    @item.CreatedDate
                </td>
                <td>
                    @item.DeadLine
                </td>
                <td>
                    @item.PaperTitle
                </td>
                <td>
                    <a asp-action="PaperDetails" asp-route-id="@item.PaperCode">Details</a> |
                    <a href="#">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<form  asp-controller="Teacher" asp-action="MyPapers" method="post" id="paginationform">
    <ul class="pagination justify-content-lg-center">
        @for (int i = 1; i <= ViewBag.pagecount; i++)
        {
            @if (ViewBag.currentpage == i)
             {
                <li class="page-item active page-link">@i</li> 
             }
             else
             {
                <li class="page-item"><a class="page-link" style="cursor:pointer;" onclick="PagerClick(@i)">@i</a></li>
             }
        }
    </ul>        
    
    <input type="hidden" name="page" id="paginationpage" /> 
</form>

<script>
    function PagerClick(pageclick) {
        $('#paginationpage').val(pageclick);
        $('#paginationform').submit();
    }
</script>
