@model (DescriptivePaperDTO paper, List<DescriptiveAnswerSheetDTO> answersheet)
@{
    ViewData["Title"] = "ResponsesOfDescriptive";
}

<h3>Responses</h3>
<br />
<form asp-action="@nameof(TeacherController.GetEnterMarks)" style="display:none" id="myForm">
    <input type="hidden" name="Paper" value="@JsonConvert.SerializeObject(Model.paper)" />
</form>

@if (Model.answersheet != null && Model.answersheet.Count > 0)
{
    <h5>Paper Title : <small>@Model.paper.PaperTitle</small></h5>
    <h5>Paper Code  : <small>@Model.paper.PaperCode</small></h5>
    <h5>Start Time  : <small>@Model.paper.CreatedDate</small></h5>
    <h5>Deadline    : <small>@Model.paper.DeadLine</small></h5>
    <h5>Total Marks : <small>@Model.paper.TotalMarks</small></h5>
    <br />
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Student Email</th>
                <th>Marks Obtained</th>
                <th>Submitted Time</th>
                <th>Answer Book</th>
                <th>Enter Marks</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.answersheet.Count; i++)
            {
                <tr>
                    <td>@Model.answersheet[i].StudentEmailId</td>
                    @if (Model.answersheet[i].MarksObtained == null)
                    {
                        <td class="text text-danger"><b>Pending</b></td>
                    }
                    else
                    {
                        <td>@Model.answersheet[i].MarksObtained</td>
                    }
                    <td>@Model.answersheet[i].SubmittedTime</td>
                    <td><a href="@Model.answersheet[i].AnswerLink" class="badge badge-info badge-pill btn-outline-info" target="_blank">Answers</a></td>

                    <td>
                        <button type="submit" form="myForm" class="badge badge-pill badge-primary btn-outline-primary" name="AnswerSheet" value="@JsonConvert.SerializeObject(Model.answersheet[i])">Check</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h4>No Responses</h4>
}


<div class="my-3">
    <a asp-action="MyPapers">Go To List</a>
</div>